@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.container {
    max-width: 1200px;
    max-height: 750px;
    margin: 0 auto;
}


@import 'blocks/main';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/media';